

.slider-container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.carousel-container {
  padding: 0 50px; 
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  font-family: 'Roboto Condensed', sans-serif;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
  height: 30rem !important; 
  width: 55rem !important; 
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(171, 143, 143, 0.5);
}

.project-card-content {
  border-radius: 15px;
  text-align: center;
  width: 80%;
}

.project-card h3 {
  margin: 0 0 10px;
}

.project-card p {
  margin: 0;
}

.project-link {
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #712864;
  text-decoration: none;
  font-weight: bold;
  margin-top: 200px !important;
  margin-bottom: 25px !important;
}

.project-link:hover {
  text-decoration: underline;
}
