#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  display: flex;
}

.App {
  position: relative;
  display: flex;
  flex-direction: row; /* Align sections horizontally */
  width: 300vw; /* Adjust based on the number of sections */
  height: 100vh;
}

section {
  min-width: 100vw; /* Ensure each section takes up the full viewport width */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.ThreeSceneContainer {
  position: fixed; /* Fix it to the viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; /* Background */
}

.nameOverlay, .social-icons, .top-right-nav {
  z-index: 1; /* Foreground */
}

.nameOverlay {
  position: fixed;
  top: 85%;
  left: 18%;
  transform: translate(-50%, -50%);
  color: rgb(206, 161, 195);
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 5rem;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.social-icons {
  position: fixed; 
  top: 82.5%; 
  left: 25px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.social-icons a {
  color: rgb(206, 161, 195); 
  font-size: 30px; 
}

.social-icons a:hover {
  color: #fff;
}

.top-right-nav {
  position: fixed;
  top: 55px;
  right: 120px;
  margin: 20px;
}

.top-right-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.top-right-nav a {
  text-decoration: none;
  color: rgb(206, 161, 195);
  font-weight: bold;
  transition: color 0.3s;
  font-size: 1.4rem;
}

.top-right-nav a:hover {
  color: #fff;
}

@media (max-width: 1121px) {
  .social-icons {
    display: none; 
  }
  .nameOverlay {
    font-size: 30px;
  }
}

html {
  scroll-behavior: smooth;
}
